html,
body {

    background-color: #F4F5F9;
    

}




header {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Adiciona este alinhamento */
 


}



.master_texto_header {
    margin-top: 30px;


}

.texto_header {

    margin-left: auto;


    font-style: normal;
    text-align: center;
    width: 100%;
    margin-right: 31%;
    color: #3F414E;

}

.texto_header h1 {
    color: #3F414E;
    text-align: center;
    font-family: Mirza;
    font-size: 75px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
    /* 101.25px */
}

.subtexto_header h6 {
    color: rgba(47, 47, 47, 0.65);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 165%;
    /* 33px */
}




.main_master {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 300px; /* Ajuste a margem conforme necessário */
}

.botao_login {
    color: #F6F1FB;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 38px;
    background: #8E97FD;
    height: 55.789px;
    flex-shrink: 0;
    padding-top: 10px;
    width: 305px;
    text-decoration: none;
}

.botao_login:active {
    background: #7781e9;
    width: 315px;
    height: 56.789px;
}

.sub_login {
    color: #A1A4B2;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    padding-top: 3%;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-left: auto;
}

.inico_link-cadastro {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-left: auto;
    color: #8E97FD;
    font-family: Inter;
    font-size: 105%;
    font-style: normal;
    text-decoration: none;
}

.inico_link-cadastro a:link {
    text-decoration: none;

}

.inico_link-cadastro a:visited {
    text-decoration: none;
}

.inico_link-cadastro a:hover {
    text-decoration: none;
}

.inico_link-cadastro a:active {
    text-decoration: none;
}

.inico_link-botao_login a:link {
    text-decoration: none;

}

.inico_link-botao_login a:visited {
    text-decoration: none;
}

.inico_link-botao_login a:hover {
    text-decoration: none;
}

.inico_link-botao_login a:active {
    text-decoration: none;
}